<script lang="ts">
	import { AppShell, initializeStores } from '@skeletonlabs/skeleton';
	import '../app.postcss';
	import MyAppBar from './MyAppBar.svelte';
	import MySideBar from './MySideBar.svelte';
	// Floating UI for Popups
	import { arrow, autoUpdate, computePosition, flip, offset, shift } from '@floating-ui/dom';
	import { storePopup } from '@skeletonlabs/skeleton';
	storePopup.set({ computePosition, autoUpdate, flip, shift, offset, arrow });

	initializeStores();
</script>

<!-- App Shell -->
<AppShell>
	<svelte:fragment slot="header">
		<MyAppBar />
	</svelte:fragment>

	<svelte:fragment slot="sidebarLeft">
		<MySideBar />
	</svelte:fragment>

	<slot />
</AppShell>
