<script lang="ts">
	import { page } from '$app/stores';
	import {
		faCat,
		faDiceOne,
		faDiceThree,
		faDiceTwo,
		faFish,
		faSnowflake
	} from '@fortawesome/free-solid-svg-icons';
	import { AppRail, AppRailAnchor } from '@skeletonlabs/skeleton';
	import Fa from 'svelte-fa';

	let basePath: string;
	page.subscribe((page) => {
		basePath = page.url.pathname.split('/')[1] ?? '';
	});
</script>

<div class="h-full bg-surface-50-900-token border-r border-surface-500/30 {$$props.class ?? ''}">
	<AppRail background="bg-transparent" border="border-r border-surface-500/30">
		<AppRailAnchor href="/snow" selected={basePath === 'one'}>
			<svelte:fragment slot="lead">
				<Fa icon={faSnowflake} size="2x" />
			</svelte:fragment>
			<span>Snow</span>
		</AppRailAnchor>

		<AppRailAnchor href="/cat" selected={basePath === 'two'}>
			<svelte:fragment slot="lead">
				<Fa icon={faCat} size="2x" />
			</svelte:fragment>
			<span>Cat</span>
		</AppRailAnchor>

		<AppRailAnchor href="/fish" selected={basePath === 'three'}>
			<svelte:fragment slot="lead">
				<Fa icon={faFish} size="2x" />
			</svelte:fragment>
			<span>Fish</span>
		</AppRailAnchor>
	</AppRail>
</div>
